*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 940px;
	margin: 0 auto;
}
header{
	font-family: arial;
	font-weight: bold;
}
.logo{
	width: 135px;
	height: 55px;
	background-color: #ff8000;
	float: left;
	margin-right: 15px;
}
.hlist li {	
	list-style-type: none;
	float: left;
	font-size: 15px;
	margin:18px 15px;
}
.hlist form{
	float: right;
	width: 240px;
	height: 40px;
}
.hlist a:hover{
	color: #444444;
}
.hlist a{
	padding: 15px;
	color: #000;
	text-decoration: none;
}
.searchbar{
	border: 1px;
	border-color: #efefef;
	position: relative;
}
.searchbar input{
	width: 236px;
	height: 36px;
	border-radius: 10px;
	float: right;
	margin-top: 8px;
}
.searchbar button{
	position: absolute;
	right: 0px;
	width: 40px;
	height: 37px;
	border: 0px;
	border-radius: 10px;
	background-color: white;
	margin-top: 11px;
	margin-right: 2px;
}
.searchbar button img{
	padding: 10px 10px;
	right: 0px;
	height: 20px;
	width: 20px;
}
.clear{
	clear: both;
}
.blank{
	background-color: #000000; 	
}
.banner img{
	width: 940px;
}
.banner{
	height: 465px;
	position: relative;
}
.banner span{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
h1{
	font-weight: normal;
	font-size: 44px;
	color: white;
	font-family: sans-serif;
	margin-bottom: 5px;
}
h4{
	font-family: times new roman;
	font-weight: normal;
	color: white;
	font-size: 22px;
	margin-bottom: 10px;
}
.banner1{
	background-color: #ecab1f;
	height: 60px;
	margin-bottom: 60px;
	padding: 20px 0px;
}
.banner1 a{
	text-decoration: none;
}
.banner1 li{
	list-style-type: none;
	display: block;
	margin-left: 0px;
	margin-right: 20px;
}
.banner1 li:last-child{
	margin-right: 0px;
}
.rectangle{
	float: left;
	border-radius: 10px;
	background-color: white;
    width: 220px;
    height: 60px;
    list-style-type: none;
}
.rectangle img{
	float: right;
	font-size: 0px;
	right: 0px;
	padding: 16px 16px;
}
h2{
	font-size: 40px;
	color: #888888;
	margin-bottom: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.piclist li{
	float: left;
	margin-right: 20px;
	list-style-type: none;
	display: block;
	background-color: #4466ff;
}
.belowtext{
	padding: 15px;
	color: white;
	font-family: arial;
}
.belowtext h5{
	font-size: 18px;
}
.belowtext h6{
	font-size: 11px;
}
.lastlist li{
	margin-right: 0px;
}
footer{
	margin-top: 50px;
}