*{
	margin: 0px;
	padding: 0px;
}
ol,ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	width: 940px;
	margin: 0 auto;
}
header{
	font-family: arial;
	font-weight: bold;
}
.logo{
	width: 135px;
	height: 55px;
	background-color: #ff8000;
	float: left;
	margin-right: 15px;
}
.hlist li {	
	list-style-type: none;
	float: left;
	font-size: 15px;
	margin-top: 18px;
}
.hlist form{
	float: right;
	width: 240px;
	height: 40px;
}
.hlist a:hover{
	color: #444444;
}
.hlist a{
	padding: 15px;
	color: #000;
	text-decoration: none;
}
.searchbar{
	width: 238px;
	height: 38px;
	border: solid 1px;
	border-color: #000;
	float: right;
	border-radius:5px;
	margin-top: 7px;
}
.searchbar input:first-child{
	float: right;
	padding: 10px;
	width: 20px;
	height: 20px;
}
.searchbar input{
	float: left;
	height: 38px;
	border: 0;
	width: 194px;
	margin-left: 2px;
}
.clear{
	clear: both;
}
.blank{
	background-color: #000000;
	background-image: url(banner.jpg);
	
	background-position: center top;
	background-repeat: no-repeat; 	
}
.banner{
	height: 544px;
	position: relative;
}
.banner h1{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-weight: normal;
	font-size: 44px;
	color: white;
	font-family: sans-serif;
	margin-bottom: 45px;
}
.banner h4{
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-family: times new roman;
	font-weight: normal;
	color: white;
	font-size: 22px;
	margin-bottom: 15px;
}
.banner1{
	background-color: #ecab1f;
	height: 60px;
	margin-bottom: 60px;
	padding: 20px 0px;
}
.rlist ul li{
	position: relative;
	float: left;
	border-radius: 10px;
	background-color: white;
    width: 220px;
    height: 60px;
    list-style-type: none;
    margin-right: 20px;
    display: block;
}
.rlist ul li:last-child{
	margin-right: 0;
}
.rlist ul li a{
	border-radius: 10px;
	padding: 17px 15px;
	font-size: 22px;
	color: #222222;
	display: block;
}
.rlist ul li a:hover{
	background-color: darkgrey;
}
.rlist img{
	position: absolute;
	margin-right: 16px;
	font-size: 0px;
	right: 0px;
}
h2{
	font-size: 40px;
	color: #888888;
	margin-bottom: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.piclist li{
	float: left;
	margin-right: 20px;
	list-style-type: none;
	display: block;
	margin-bottom: 50px;
}
.piclist li:last-child{
	margin-right: 0;
}
.piclist img{
	display: block;
}
.belowtext{
	background-color: #4466ff;
	color: white;
	padding: 15px;
	font-family: arial;
}
.belowtext h5{
	font-size: 18px;
}
.belowtext h6{
	font-size: 11px;
}
.lastlist li{
	margin-right: 0px;
}
